<div class="mt-4">
    <div class="row">
        
        <div class="col-lg-9">
            <h1>{{book.nameBook}}</h1>
            <img class="text-center" src="/{{book.image}}" alt="fail">
            <h3 style="margin-top: 20px;">{{book.author}}</h3>
            <p style="margin-top: 20px;">{{book.content}}</p>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-primary" href="/Book/{{book._id}}/addChapter">Thêm Chương</a>
            {{#each chapter}}
            <a href="">{{chapter.nameChapter}}</a>
            {{/each}}
        </div>
    </div>
</div>