
<a href="/api/add" class="btn btn-warning" style="margin-top: 20px;">Them sach</a>
<form class="d-flex" role="search" action="/api/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="Search" style="width: 400px;margin: 20px;">
 </form>
<table class="table">
    <thead>
        <tr>
            <th>masp</th>
            <th>tensp</th>
            <th>img</th>
            <th>age</th>
             {{!-- <th>rice</th> --}}
        </tr>
    </thead>
    <tbody>
       
        <tr>
           <td>{{sp1.Mauser}}</td>
             <td>{{sp1.Tenuser}}</td>
            <td><img src="{{sp1.image}}" style="width: 50px;height: 50px;"></td>
             <td>{{sp1.ageuser}}</td>
            <td>
         <a href="/api/edit/{{this._id}}" class="btn btn-primary">Edit</a>
         <a href="#" class="btn btn-danger delete-btn" data-id="{{this._id}}">Delete</a>
          <a href="/api/getDetailchitiet/{{this._id}}" class="btn btn-primary">chi tiet</a>
      </td>
        </tr>
   
    </tbody>
</table>
<script>
  const deleteButtons = document.querySelectorAll('.delete-btn');
  deleteButtons.forEach(button => {
  button.addEventListener('click', function(event) {
    event.preventDefault();
    const id = button.dataset.id;
    const result = confirm('Bạn có chắc muốn xóa dữ liệu này không?');
    if (result) {
      window.location.href = "/api/deletesp/"+id;
    }
  });
});
</script>